<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<b>user table</b> <br>-->
<!--{% for record in record1 %}-->
<!--{{record.name}} - {{record.role}}<br>-->
<!--{{record.email}} <br><br>-->
<!--{% endfor %}-->

<!--<b>guest table</b> <br>-->
<!--{% for record in record2 %}-->
<!--{{record.guest_name}} - {{record.age}}<br>-->
<!--{{record.email_address}} - {{record.contact_info}}<br><br>-->
<!--{% endfor %}-->

<!--<b>joined table</b> <br>-->
<!--{% for record in result %}-->
<!--{{record.name}} - {{record.role}}<br>-->
<!--{{record.email}} - {{record.contact_info}} - {{record.age}}<br><br>-->
<!--{% endfor %}-->
{{ room_details }}
{{ weekly_bookings }}
<img src="/weekly-stats">
</body>
</html>